nav {
  background-color: #EAE6CF;
  height: 300px;
}

nav .col-lg-4 {
  text-align: center;
}

nav img {
  height: 170px;
  margin-top: 20px;
}

nav .nav-items {
  text-align: center;
  margin-top: 50px;
  margin: 0 auto;
  display: block;
  margin-top: 50px;
}

nav .nav-items a {
  padding: 0 20px;
  color: black;
  font-weight: 500;
  letter-spacing: 2px;
}

nav .address {
  height: 30px;
  margin-top: 25%;
}

nav .slogan {
  height: 30px;
  margin-top: 25%;
}

@media screen and (max-width:767px) {
  .navbar {
    display: none !important;
  }
}

.buy-now {
  background-color: #3d3d3d;
  color: #fff !important;
}



/* End of Navigation */



/* Media Queries */

@media (max-width: 991px) {
  nav {
    background-color: #EAE6CF;
    height: 400px;
  }
  nav img {
    height: 190px;
    margin-top: 20px;
  }
  nav .address {
    height: 30px;
    margin-top: 4%;
  }
  nav .slogan {
    height: 30px;
    margin-top: 5%;
  }
  nav .nav-items {
    text-align: center;
    margin-top: 40px!important;
    margin: 0 auto;
    display: block;
  }
  nav .nav-items a {
    padding: 0 10px;
    color: black;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  nav {
    background-color: #EAE6CF;
    height: 250px;
  }

  .main-logo {
    height: 150px;
  }
  .address {
    display: none;
  }
  .slogan {
    display: none;
  }
}
